<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type=hidden name = "_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="enter topic name"/>
        <button type = "submit">Enter</button>
        <input type=hidden name = "_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>Список тем</div>
    {{#topics}}
        <div>
            <b>{{id}}</b>
            <a href="/topic?id={{id}}">link</a>
            <span>{{themeName}}</span>
        </div>
    {{/topics}}
</body>
</html>